/*css document*/
@charset "utf-8";

/*configuración tipográfica*/

* {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(img/background.jpg);
}

nav a {
    color: aliceblue;
    background-color: #1878b2;
}

nav {
    align-self: flex-end;
    background-color: #1878b2;
    border-radius: 0 0 0 80px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav img {
    background-color: #1878b2;
}

h1 {
    padding: 40px 0;
    text-align: center;
}

h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    color: #d83d31;
    line-height: 3.5rem;
}

h3 {
    font-family: "Lobster", sans-serif;
    font-size: 1.3rem;
    color: #1878b2;
    line-height: 2rem;
}

main {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}

div p {
    line-height: 2rem;
}

.educacion,
.experiencia {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.sobre-mi {
    width: 350px;
}

#miperfil {
    background-color: #86a6b9;
    width: 350px;
    min-height: 350px;
    border-radius: 120px 0px 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 20px;
}


figcaption {
    color: #104e75;
    margin: 10px;
    max-width: 150px;
    width: 180px;
    border-radius: 50%;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
}


aside {
    padding: 20px;
    margin: 40px 0;
    height: 115px;
    line-height: 1rem;
    background-color: #1878b2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside p {
    color: aliceblue;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    width: 400px;
    min-height: min-content;
    min-width: min-content;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #86a6b9;
}