/*css document*/
@charset "utf-8";

/*configuración tipográfica*/

* {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: max-content;
    min-height: min-content;
}

nav {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: baseline;
    padding: 20px;
    gap: 20px;
    width: 1200px;
}

nav a {
    color: aliceblue;
}

header nav {
    background-color: #1878b2;
    background-size: cover;
    border-radius: 0px 0px 0px 120px;
}

h1 {
    text-align: center;
}

h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2REM;
    color: #d83d31;
    line-height: 3.5rem;
}

h3 {
    font-family: "Lobster", sans-serif;
    font-size: 1.3rem;
    color: #1878b2;
    line-height: 2rem;
}

.miperfil {
    text-align: right;
    padding: 20px;
    min-height: 20vh;
    background-color: #86a6b9;
    border-radius: 120px 0px 0px 120px;
}

aside {
    text-align: center;
    padding: 20px;
    height: 40px;
    min-height: 20vh;
    line-height: 1rem;
}

footer {
    text-align: center;
}

.Educación {
    padding: 60px;
    min-height: 20vh;
    max-width: 480px;
}

.Educación p {
    line-height: 2rem;
}

.Experiencia {
    padding: 60px;
    min-height: 20vh;
    max-width: 480px;
}

.Experiencia p {
    line-height: 2rem;
}